doctype
html
	head(lang="en")
		title Interactive CSS3 Iphone 6
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		link(rel="stylesheet", href="assets/css/style.css", type="text/css")
	body

		#scenario
			#switch
				a(href="#", data-color="white") WHITE
				a(href="#", data-color="black") BLACK

			#iphone-6

				span.power

				span.volume-switch
				span.volume-plus
				span.volume-minus

				span.line-top
				span.line-bottom

				span.camera
				span.speaker

				span.home
					a(href="#")

				.screen
					.topbar
						.signal
							span.full
							span.full
							span.full
							span
							span
							| T-Mobile

						.time 00:00
						.battery

					.loading
						img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903061/apple-logo_fsnscf.png", alt="")

					.lock
						.blur
							.text Touch ID or Enter Passcode (1234)

						.pills
							span
							span
							span
							span

						.keyboard
							.number
								em 1

							.number
								em 2
								span DEF

							.number.last
								em 3
								span DEF

							.number
								em 4
								span GHI

							.number
								em 5
								span JKL

							.number.last
								em 6
								span MNO

							.number
								em 7
								span PQRS

							.number
								em 8
								span TUV

							.number.last
								em 9
								span WXYZ

							.number.center
								em 0


						.emergency Emergency
						.delete Delete

					.wallpaper(data-parallaxify-range-x="100", data-parallaxify-range-y="100")

					.dashboard
						.grid
							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903078/Contacts_cxxz7a.png", alt="")
								span.label Contacts

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903078/Calendar_f1uqvh.png", alt="")
								span.label Contacts

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903082/Photos_ncdjfm.png", alt="")
								span.label Photos

							.app.last
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903078/Camera_umxrmx.png", alt="")
								span.label Camera

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903084/Weather_xbr0gt.png", alt="")
								span.label Weather

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903078/Clock_yzoftd.png", alt="")
								span.label Clock

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903080/Maps_xhr2wu.png", alt="")
								span.label Maps

							.app.last
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903083/Videos_oxaryk.png", alt="")
								span.label Videos

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903081/Notes_dminu5.png", alt="")
								span.label Notes

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903082/Reminders_hokpkq.png", alt="")
								span.label Reminders

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903082/Stocks_q7gz1l.png", alt="")
								span.label Stocks

							.app.last
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903079/Game-Center_vjssfs.png", alt="")
								span.label Game Center

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903080/Newstand_d1peg9.png", alt="")
								span.label Newstand

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903080/iTunes-Store_rvmevm.png", alt="")
								span.label Itunes Store

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903078/AppStore_fwljbl.png", alt="")
								span.label App Store		

							.app.last
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903079/iBooks_bwkcrq.png", alt="")
								span.label iBooks

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903079/Health_wzwtbc.png", alt="")
								span.label Health

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903081/Passbook_dleh2h.png", alt="")
								span.label Passbook

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903082/Settings_jv4gtd.png", alt="")
								span.label Settings

						.dock
							.blur
							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903081/Phone_amnrxu.png", alt="")
								span.label Phone

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903080/Messages_yozkdi.png", alt="")
								span.label Messages

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903082/Safari_cuf8cz.png", alt="")
								span.label Safari

							.app
								a(href="#")
									img(src="http://res.cloudinary.com/themesholic/image/upload/v1420903080/Mail_itxz5o.png", alt="")
								span.label Mail

					.overlay
						.alert
							.text
								strong Hiya!
								| It's just a demo :)
							a(href="#") Dismiss


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="http://hwthorn.github.io/parallaxify/javascripts/jquery.parallaxify.min.js")
		script(src="assets/js/iphone.js")
